.bottomcontentmainbas {
    border: 1px solid #555 ; 
    background-color: #EDEDED ; 
    display: -webkit-box ; 
    display: flex ; 
    -webkit-box-pack: center ; 
    justify-content: center ; 
    -webkit-box-align: center ; 
    align-items: center ; 
    height: 470px ; 
    margin-bottom: 5px ; 
    margin-right: 5px ; 
    width: 932px ; 
}