.bottomcontentmainbas {
    border: 1px solid #555 ; 
    background-color: #EDEDED ; 
    display: -webkit-box ; 
    -webkit-box-pack: center ; 
    justify-content: center ; 
    -webkit-box-align: center ; 
    align-items: center ; 
    height: 487px ;       
    width: 935px ; 
}