<div class="container float-left bordureParent">
  <div class="row rangeeHaute">	
		<div class="col-md-2 contenantCol">
			<div class="col-md-12 contenuCol">
				<span>{{titregauche}}</span>
			</div>
		</div>				
		<div class="col-md-10 contenantCol">
			<div class="col-md-12 contenuCol">
				<span>{{titredroite}}</span>
			</div>
		</div>
  </div> 
    <div class="row rangeeBasse">
			<div class="col-md-2 contenuCol">
				<div class="container containerTofill">		
						  <div class="row  contenuColBasNav">
							<span>Column 2.1</span>
						  </div>		
						  <div class="row  tobottomnav">
							<span>Column 3.1</span>
						  </div>
				</div>  		  
			</div>
			
			<div class="col-md-10 contenuCol">	
				<div class="container containerTofill">
					<div class="row  contenuColBasContent">
						<p>Column 2.2</p>						
						<p><button (click)='setMemInputLoiz();'>setMemInputLoiz()</button></p>
						<div>parentMemInputLoiz : {{parentMemInputLoiz}}</div>				
					</div>
					<app-compmainbas 
						 [enfMemInputLoiz] = "parentMemInputLoiz"
						 (memLoizOutput) = "getChildOutput($event)"					
						 [loizInheritedMethodForChild] = "loizParentMethodForChild"
					></app-compmainbas>
				</div>  		  
			</div>		
	</div>  
</div>


