.fontdefault {
  font-family:  Arial ;
  font-size: 22px ;
  color: #333 ;
  box-sizing: border-box ;
  font-weight: 900 ;
  line-height: 1.2 ;
}

p {
  font-family:  Arial ;
  font-size: 14px ;
  color: #000 ;
}

body {
background-color: #312D64 ! important;
}
.bordureParent {
border: 2px solid #B22222;
border-radius: 5px;
overflow: auto;
height:700px ;
display: flex;
flex-flow: column ;
background-color: #312D64 ;
}

/*.contenuRow {
	border: 1px solid #555;
	border-radius: 5px;
}*/
:root {
  --bggris: #ededed;
}

/*@bggris = #EDEDED;*/
.contenuCol {
	border: 1px solid #555;
    background-color: var(--bggris);
    /*border-radius: 5px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.contenantCol {
    background-color: #EDEDED;	
	border: 1px solid #000;
    padding: 5px;
	display: flex;
	justify-content: center;
    align-items: center;   
}

.containerTofill {
    background-color: #EDEDED;
    display: flex;
    flex-flow: column;
    height: 100%;
}




.tobottom {
flex-grow : 1 ;
}

.tobottomnav {
	border: 1px solid #555;
	flex-grow : 1 ;
    display: flex ;
    justify-content: center ;
    align-items: center ;	
}

.tobottomcontent {
	border: 1px solid #555;
	flex-grow : 1 ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.rangeeHaute {
border: 1px solid #FFF;
height:60px ;
}

.rangeeBasse {
border: 1px solid #FFF;
flex-grow : 1 ;
}
.contenuColBasRubrique {
    border: 1px solid #555;
    background-color: #EDEDED;
    /*border-radius: 5px;*/
    /* display: block; */
    height: 10%;
    justify-content: center;
    align-items: center;
}

.contenuColBasContent {
    border: 1px solid #555;
    background-color: #EDEDED;    
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 150px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 932px;
}

.contenuColBasNav {
    border: 1px solid #555;         
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;    
    margin-bottom: 5px;
    height: 120px;
}

.contenuColBasBody {
	border: 1px solid #555;
    background-color: #EDEDED;
    /*border-radius: 5px; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenantColBas {
    background-color: #EDEDED;	
	border: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: column;
}