<div class="container float-left bordureParent">
  <div class="row rangeeHaute">	
		<div class="col-md-2 contenantCol">
			<div class="col-md-12 contenuCol">
				<!--<span>{{titregauche}}</span>-->
			</div>
		</div>				
		<div class="col-md-10 contenantCol">
			<div class="col-md-12 contenuCol">
				<!--<span>{{titredroite}}</span>-->
			</div>
		</div>
  </div> 
    <div class="row rangeeBasse">
			<div class="col-md-2 contenuCol">
				<div class="container containerTofill">		
						  <div class="row  contenuColBasNav">
							<span>Celulle 2.1</span>
						  </div>	
						<!--Emplacement cellule nav gauche-->
						<app-cellulenavgauche></app-cellulenavgauche>
				</div>  		  
			</div>
			
			<div class="col-md-10 contenuCol">	
				<div class="container containerTofill">
					<div class="row  contenuColBasContent">
						<p>Column 2.2</p>									
					</div>
					<app-compmainbas> </app-compmainbas>
				</div>  		  
			</div>		
	</div>  
</div>


